#universe.container_24
  .grid_5.alpha
    %a#logo{:href => "/", :rel => "home"} Tinyproj
  .grid_14.push_2.omega
    #content
      %h1 Submit a Project
      %p
        Reach over 7,800 awesome developers, designers, copywriters, and illustrators. Each project costs just $25 to list. The ideal project has a budget between $500 and a few thousand dollars, and generally lasts somewhere around 3 weeks or less. Before posting, be sure to read
        = succeed "." do
          %a{:href => "/guidelines", :target => "_blank"} the guidelines
        Have questions?
        = succeed "." do
          %a{:href => "mailto:kyle+tinyproj@kylebragger.com"} Email Kyle
      %form{"accept-charset" => "UTF-8", :action => "/projects/create", :method => "post"}
        %input{:name => "form_key", :type => "hidden", :value => "hZJMEQhwNM1RTBY3FbdNc0Rp1h2UOYQwXNXbUSH0UZgDzDcxDZVOQNNudGT0VTqZaYDRn0zQ"}
          %input{:name => "_frosty", :type => "hidden", :value => "☃"}
            %fieldset
              %div
                %label{:for => "name"} Your Name
                %br
                  %input#name{:name => "name", :type => "text", :value => ""}
              %div
                %label{:for => "email"} Your Email
                %br
                  %input#email{:name => "email", :type => "text", :value => ""}
              %div
                / TODO message about low budgets
                %label{:for => "budget"}
                  What's the budget?
                  %span USD
                %br
                  $
                  %input#budget{:name => "budget", :type => "text", :value => "1000"}
              %div
                %label{:for => "duration_days"}
                  When do you need it completed?
                  %span Please be as realistic as possible
                %br
                  %select#duration_days{:name => "duration_days"}
                    %option{:value => "1"} ASAP
                    %option{:value => "7"} 7 days
                    %option{:selected => "selected", :value => "14"} 14 days
                    %option{:value => "21"} 21 days
              %div
                %label{:for => "title"} Summarize the project
                %br
                  %input#title{:name => "title", :type => "text", :value => ""}
              %div
                %label{:for => "description"}
                  Describe the project
                  %span
                    Plain text only,
                    %b#description-char-count
                    chars left
                %br
                  %textarea#description{:cols => "60", :name => "description", :rows => "5"}
              %div
                %label{:for => "url"} Optionally provide a URL where people can learn more
                %br
                  %input#url{:name => "url", :type => "text", :value => ""}
              .checky
                %h4 Who are you looking for?
                %label
                  %input{:name => "is_dev", :type => "checkbox"}
                    A Developer  
                    %span PHP, Ruby, Python, JS, HTML, CSS, etc.
                %label
                  %input{:name => "is_design", :type => "checkbox"}
                    A Designer  
                    %span Icons, Web apps, Mobile apps, etc.
                %label
                  %input{:name => "is_copy", :type => "checkbox"}
                    A Copywriter
                %label
                  %input{:name => "is_illus", :type => "checkbox"}
                    An Illustrator
              .ctls
                %button.btn
                  Submit for approval
                  %em pay once it's approved
              %div
                %p.small
                  We approve projects beforehand to make sure they're not recruiter spam or anything else our members wouldn't appreciate receiving. And please, one project per submission. By posting a project you acknowledge that you have read
                  = succeed "." do
                    %a{:href => "/guidelines"} the guidelines
    #footer
      %strong ©2011
      %a{:href => "https://forrst.com/"}
        %strong Forrst Inc.
      \/
      %a{:href => "/guidelines"} Guidelines
      \/
      %a{:href => "/talent/welcome/resend"} Locked out?
      \/
      %a{:href => "mailto:kyle+tinyproj@kylebragger.com"} Say Hi
      \/ We ♥
      %a{:href => "http://postmarkapp.com/"} Postmark
      \&
      %a{:href => "https://fiesta.cc/"} Fiesta.cc