!!!5
%html
  %head
    %title Tinyproj / Hello
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
  :javascript
    $(document).ready(function(){
      $(".chzn-select").chosen();
    });